.sidebar {
    display: none;
}

.sidebar_show {
    width: 20%;
    height: calc(100vh - 58px);
    overflow-y: scroll;
}

.msg {
    margin: 15px;
}

.heading {
    margin: 10px;
}
@media (max-width: 1024px) {
    .sidebar {
        display: none;
    }

    .sidebar_show {
        position: absolute;
        z-index: 300;
        background-color: white;
        width: 50%;
    }
}
