.navbar {
    background-color: black;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_item {
    margin: 0px 10px;
}

.navbar_link {
    color: white;
    text-decoration: none;
}

.navbar_link:hover {
    color: rgba(125, 125, 248, 0.774);
    text-decoration: none;
}

.user_btn {
    background-color: inherit;
    border: none;
}

.user_btn:focus {
    outline: none;
}

.user_btn img{
    border-radius: 50%;
    height: 40px;
}

.user_btn img:hover {
    border: 2px solid white
}

