.forgot_password {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.email_input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.email_input input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: rgb(224, 240, 255);
}

.button_submit {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button_submit:hover,
.button_submit:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button_submit:active {
  opacity: 0.5;
}

.error_box {
  border-radius: 10px;
  margin-top: 50px;
  background-color: rgb(205, 205, 205);
  color: rgb(0, 0, 0);
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  width: 350px;
  bottom: 140px;
  display: none;
  position: absolute;
}
