.msg_send {
    background-color: rgb(228, 228, 228);
    color: black;
    border-radius: 5px;
    padding: 5px 7px;
    margin: 10px 30px;
    align-self: flex-end;
    display: flex;
    align-items: baseline;
    max-width: 600px;
}

.msg_recieved {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 7px 7px;
    margin: 10px 30px;
    align-self: flex-start;
    display: flex;
    align-items: baseline;
    max-width: 600px;
}

.time {
    font-size: 0.6rem;
    margin: 0px;
    padding-left: 6px;
    float: right;
    min-width: 48px;
}

.text {
    margin: 0px;
}