.navbar {
  background-color: black;
  height: 58px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.navbar_item {
  margin: 0px 10px;
}

.navbar_link {
  color: white;
  text-decoration: none;
}

.navbar_link:hover {
  color: rgba(125, 125, 248, 0.774);
  text-decoration: none;
}

.friend_image,
.video_call {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
